*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: rgb(175, 47, 47);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    margin-bottom: 30%;
    color: rgb(12, 12, 12);
    align-items: center;
}

.form{
    align-items: center;
    position: absolute;
}

.tab0, .tabf{
    margin-top: 3%;
    padding: 30px 40px;
    width: 40%;
    min-width: 500px;
    color: white;
    font-weight: bold;
}

.txt0, .txtf{
    font-size: medium;
    font-weight: bolder;
}

.calc{
    font-size: medium;
    font-weight: bold;
    margin-top: 3%;
    padding: 3%;
    color: white;
    background-color:  rgb(15, 15, 15);
}

.calc:hover{
    cursor: pointer;
    background-color: rgb(78, 223, 158);
}

